<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button pButton pRipple type="button" label="concat" class="p-button-primary" (click)="testConcat()"></button>
            <button pButton pRipple type="button" label="testMap(sync)" class="p-button-secondary ml-3" (click)="testMap()"></button>
            <button pButton pRipple type="button" label="concatMap" class="p-button-primary ml-3" (click)="testConcatMap()"></button>
            <button pButton pRipple type="button" label="testMerge" class="p-button-secondary ml-3" (click)="testMerge()"></button>
            <button pButton pRipple type="button" label="mergeMap" class="p-button-primary ml-3" (click)="testMergeMap()"></button>
        </div>
    </div>
</div>
