<div id="document">
    <div class="title font-medium">
        <div class="title-left flex text-xl">
            <div class="icon">
                <i class="pi pi-fw pi-file" style="font-size: 1em; font-weight: 500;" ></i>
            </div>
            <div class="text-value ml-1">
                Chi tiết thủ tục
            </div>
        </div>
     
       
        
    </div>
    <div class="router w-full text-sm mb-2 mt-2">
        <div class="flex items-center">
            <span class="route-item">Trang chủ</span>
            <span class="dots ml-2 mr-2"></span>
            <span class="route-item">Chi tiết thủ tục</span>
        </div>
    </div>

    <div class="container-content pt-3 pb-4 pl-3 pr-3 w-98">
        <div class="student-infor-top">
            <app-student-infor></app-student-infor>
        </div>

    </div>

</div>