<div id="nav-post" class="pb-5">
  <div class="list-nav">
    <ul>
      <li>
        <a class="nav-item nav-item-active">
          <div class="icon">
            <i class="fa-solid fa-tv"></i>
          </div>
          <div class="text-value ml-2">Bản tin</div>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <div class="icon">
            <i class="fa-solid fa-tags"></i>
          </div>
          <div class="text-value ml-2">Tags</div>
        </a>
      </li>

      <li>
        <a class="nav-item">
          <div class="icon">
            <i class="fa-solid fa-bookmark"></i>
          </div>
          <div class="text-value ml-2">Đã lưu</div>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <div class="icon">
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <div class="text-value ml-2">Phòng ban</div>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <div class="icon">
            <i class="fa-solid fa-user-group"></i>
          </div>
          <div class="text-value ml-2">Mọi người</div>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <div class="icon">
            <i class="fa-solid fa-syringe"></i>
          </div>
          <div class="text-value ml-2">Được ghim</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="recommend">
    <div class="box-popular-tags">
      <div class="title text-base font-medium">Phổ biến</div>
      <div class="content">
        <div class="list-tags mt-2">
            <a class="tag">
                #javascript
            </a>
            <a class="tag">
                #java
            </a>
            <a class="tag">
                #python
            </a>
            <a class="tag">
                #golang
            </a>
            <a class="tag">
                #dart
            </a>
        </div>
      </div>
    </div>

    
    <div class="box-event mt-3 ml-1 bg-white shadow-xss rounded-md">
      <div class="title flex justify-between mb-3">
        <div class="text-left font-medium">Sự kiện</div>
        <div class="action-right text-sm text-blue-600">
          <a> Tất cả </a>
        </div>
      </div>

      <div class="content-box">
        <div class="item-event flex items-center mb-3">
          <div class="bg-green-500 rounded-xl pt-2 pb-2 pl-4 pr-4">
            <h4 class="text-white mb-0 font-medium text-center">
              <div class="block text-base">FEB</div>
              <div class="text-3xl">22</div>
            </h4>
          </div>
          <div class="event-text ml-3">
            <div class="name font-medium">Gặp gỡ khách hàng</div>
            <div class="address text-gray-400 text-sm">
              41 madison ave, floor 24 new work, NY 10010
            </div>
          </div>
        </div>
        <div class="item-event flex items-center mb-3">
          <div class="bg-orange-500 rounded-xl pt-2 pb-2 pl-4 pr-4">
            <h4 class="text-white mb-0 font-medium text-center">
              <div class="block text-base">APR</div>
              <div class="text-3xl">30</div>
            </h4>
          </div>
          <div class="event-text ml-3">
            <div class="name font-medium">
              Chương trình dành cho người phát triển
            </div>
            <div class="address text-gray-400 text-sm">
              41 madison ave, floor 24 new work, NY 10010
            </div>
          </div>
        </div>

        <div class="item-event flex items-center mb-3">
          <div class="bg-blue-500 rounded-xl pt-2 pb-2 pl-4 pr-4">
            <h4 class="text-white mb-0 font-medium text-center">
              <div class="block text-base">APR</div>
              <div class="text-3xl">23</div>
            </h4>
          </div>
          <div class="event-text ml-3">
            <div class="name font-medium">Sự kiện kỷ niệm</div>
            <div class="address text-gray-400 text-sm">
              41 madison ave, floor 24 new work, NY 10010
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
