<div id="document">
    <div class="title font-medium">
        <div class="title-left flex text-xl">
            <div class="icon">
                <i class="pi pi-fw pi-file" style="font-size: 1em; font-weight: 500;" ></i>
            </div>
            <div class="text-value ml-1">
                Thủ tục
            </div>
        </div>
     
       
        
    </div>
    <div class="router w-full text-sm mb-2 mt-2">
        <div class="flex items-center">
            <span class="route-item">Trang chủ</span>
            <span class="dots ml-2 mr-2"></span>
            <span class="route-item">Thủ tục</span>
        </div>
    </div>

    <div class="container-content bg-white pt-3 pb-4 pl-3 pr-3 w-98">
        <div class="filter-top">
            <div class="content-top w-full sm:flex">
                <div class="filter mb-2 w-full sm:w-4/12 md:w-2/12">
                    <div class="card flex justify-content-center">
                        <p-multiSelect  [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" defaultLabel="Chọn"></p-multiSelect>
                    </div>
                </div>

                <div class="search mb-2 w-full sm:w-8/12 md:w-10/12">
                    <div class="content-search md:pl-2 w-full flex items-center">
                        <div class="p-input-icon-left w-11/12">
                            <i class="pi pi-search"></i>
                            <input class="w-full" type="text" placeholder="Bạn tìm gì..." pInputText [(ngModel)]="value" />
                        </div>
                        <div class="option w-1/12 flex justify-center items-center text-gray-400 cursor-pointer text-xl">
                            <i (click)="menu.toggle($event)" class="fa-solid fa-ellipsis-vertical"></i>
                            <!-- <p-toast></p-toast> -->
                            <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-view-custom">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="item-tab" >
                        <span>Tất cả</span>
                        <span class="ml-1 baged-all baged-tab-item">
                            20
                        </span>
                    </div>
                  </ng-template>
                  <div class="content-table">
                    <p-table 
                        [value]="documnets" 
                        [tableStyle]="{ 'min-width': '70rem', 'width': '100% '}" 
                        [scrollable]="true"  
                        [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="max-width:40px">#</th>
                                    <th>Họ tên</th>
                                    <th>Dịch vụ</th>
                                    <th>Chịu trách nhiệm</th>
                                    <th>Xử lí cuối cùng</th>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                    <th style="max-width:150px"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-document let-i="rowIndex">
                                <tr>
                                    <td style="max-width:40px">{{ i+1 }}</td>
                                    <td>
                                        <div class="flex items-center w-full">
                                            <div class="left">
                                                <div class="avatar-common">
                                                    <img [src]="api+document.user.avatar" width="100">
                                                </div>
                                            </div>
                                            <div class="right ml-3">
                                                <div class="name common-word font-medium">
                                                    {{ document.user.name }}
                                                </div>
                                                <div class="department-name text-sm blur-md-word">
                                                    {{ document.in_class }}
        
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{document.service.name}}
                                    </td>
                                    <td>{{ document.department.name }}</td>
                                    <td>
                                        {{
                                            document.proceduralStep.department.name
                                        }}
                                    </td>
                                    <td>{{ document.created_at }}</td>
                                    <td>
                                        
                                        <div  class="status">
                                            <div class="pedding" *ngIf="document.status == 1">
                                                Đang chờ
                                            </div>
                                            <div class="pedding" *ngIf="document.status == 2">
                                                Đang xử lí
                                            </div>
                                            <div class="success" *ngIf="document.status == 3">
                                                Hoàn thành
                                            </div>
                                            <div class="cancled" *ngIf="document.status == 0">
                                                Đã hủy
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td class="action" style="max-width:150px">
                                       
                                        <div *ngIf="document?.proceduralStep?.department?.id == officer?.department?.id">

                                            <div *ngIf="document.status != 3">
                                                <div *ngIf="!checkIsMeReceived(document)">
                                                    <div *ngIf="checkIfReceived(document)">
                                                        Đã có người tiếp nhận
                                                    </div>
                                                    <div (click)="handleReceivedDocument(document)" class="btn-receive" *ngIf="!checkIfReceived(document)">
                                                        Tiếp nhận
                                                    </div>
                                                </div>

                                                <div *ngIf="checkIsMeReceived(document)" class="service-action flex items-center">
                                                    <a [routerLink]="'/manager/admin/detail-document/'+document.id" class="btn-action btn-view">
                                                        
                                                        <i class=" fa-solid fa-eye"></i>
                                                    </a>
                                                    <div (click)="onClickItemService(document.id)" (click)="menu2.toggle($event)" class="btn-action btn-more">
                                                        <i  class="fa-solid fa-ellipsis-vertical"></i>
                                                        
                                                    </div>
            
            
                                                    <!-- <div class="btn-action ml-2 mr-2 btn-edit">
                                                        <i class=" fa-solid fa-pen-to-square"></i>
                                                    </div>
                                                    <div class="btn-action ml-2 mr-2 btn-delete">
                                                        <i class=" fa-solid fa-trash"></i>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div *ngIf="document.status == 3" class="service-action flex items-center">
                                                <a [routerLink]="'/manager/admin/detail-document/'+document.id" class="btn-action btn-view">
                                                    
                                                    <i class=" fa-solid fa-eye"></i>
                                                </a>
                                                <div (click)="onClickItemService(document.id)" (click)="menu2.toggle($event)" class="btn-action btn-more">
                                                    <i  class="fa-solid fa-ellipsis-vertical"></i>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div *ngIf="document?.proceduralStep?.department?.id !== officer?.department?.id">
                                            <div class="service-action flex items-center">
                                                <a [routerLink]="'/manager/admin/detail-document/'+document.id" class="btn-action btn-view">
                                                    
                                                    <i class=" fa-solid fa-eye"></i>
                                                </a>
                                                <div class="btn-action btn-more pointer-events-none text-gray-200 cursor-not-allowed hover:cursor-not-allowed">
                                                    <i  class="fa-solid fa-ellipsis-vertical"></i>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                  </div>
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="item-tab" >
                        <span>Đã giải quyết</span>
                        <span class="ml-1 baged-success baged-tab-item">
                            125
                        </span>
                    </div>
                  </ng-template>
                  Content 2
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="item-tab" >
                        <span>Chờ giải quyết</span>
                        <span class="ml-1 baged-pedding baged-tab-item">
                            15
                        </span>
                    </div>
                  </ng-template>
              
                  Content 3
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="item-tab" >
                            <span>Đã từ chối</span>
                            <span class="ml-1 baged-cancled baged-tab-item">
                                30
                            </span>
                        </div>
                    </ng-template>
                
                    Content 4
                  </mat-tab>
              </mat-tab-group>
        </div>
        <!-- <div class="tab-view-custom">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <div class="item-tab" >
                            <span>Tất cả</span>
                            <span class="ml-1 baged-all baged-tab-item">
                                20
                            </span>
                        </div>
                        
                    </ng-template>
                    <div>
                        <p-table 
                        [value]="products" 
                        [tableStyle]="{ 'min-width': '60rem', 'width': '100% '}" 
                        [scrollable]="true"  
                        [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="max-width:40px">#</th>
                                    <th>Họ tên</th>
                                    <th>Dịch vụ</th>
                                    <th>Chịu trách nhiệm</th>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product let-i="rowIndex">
                                <tr>
                                    <td style="max-width:40px">{{ i+1 }}</td>
                                    <td>
                                        <div class="flex items-center w-full">
                                            <div class="left">
                                                <div class="avatar-common">
                                                    <img [src]="product.avatar" width="100">
                                                </div>
                                            </div>
                                            <div class="right ml-3">
                                                <div class="name common-word font-medium">
                                                    {{ product.name }}
                                                </div>
                                                <div class="department-name text-sm blur-md-word">
                                                    {{ product.class }}
        
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{product.service}}
                                    </td>
                                    <td>{{ product.department }}</td>
                                    <td>{{ product.updated_at }}</td>
                                    <td>{{ product.status }}</td>
                                    <td style="max-width:150px">
                                        <div class="service-action flex items-center">
                                            <div class="btn-action ml-2 mr-2 btn-view">
                                                
                                                <i class=" fa-solid fa-eye"></i>
                                            </div>
                                            <div class="btn-action ml-2 mr-2 btn-more">
                                                <i (click)="onClickItemService(123)" (click)="menu2.toggle($event)" class="fa-solid fa-ellipsis-vertical"></i>
                                                
                                            </div>
    
    
                                            
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate = "header">
                        <div class="item-tab" >
                            <span>Đã giải quyết</span>
                            <span class="ml-1 baged-success baged-tab-item">
                                125
                            </span>
                        </div>
                        
                    </ng-template>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <div class="item-tab" >
                            <span>Chờ giải quyết</span>
                            <span class="ml-1 baged-pedding baged-tab-item">
                                15
                            </span>
                        </div>
                        
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
    
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <div class="item-tab" >
                            <span>Đã từ chối</span>
                            <span class="ml-1 baged-cancled baged-tab-item">
                                30
                            </span>
                        </div>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
            </p-tabView>
        </div> -->
    </div>


    <p-menu 
    #menu2 
    [model]="menuActionService" 
    [popup]="true"
    ></p-menu>

    <!-- <p-toast></p-toast> -->
    <p-confirmDialog></p-confirmDialog>
    <p-dialog header="Thông báo" [modal]="true" [(visible)]="visible_dialog_last_department" [style]="{ width: '25rem' }">
        <div class="dialog-content">
            <div class="mb-3">Để hoàn thành thủ tục vui lòng điền thông tin mô tả</div>
            <textarea 
                rows="5" 
                class="w-full"
                pInputTextarea 
                [(ngModel)] = "description_document">
            </textarea>
        </div>
        <div class="flex justify-content-end gap-2 mt-3">
            <p-button label="Huỷ" severity="secondary" (click)="visible_dialog_last_department = false" ></p-button>
            <p-button label="Xác nhận" (click)="handleAccepted_dialog_last_department()" ></p-button>
        </div>
    </p-dialog>

    <p-dialog header="Thông báo" [modal]="true" [(visible)]="visible_dialog_cancled" [style]="{ width: '25rem' }">
        <div class="dialog-content">
            <div class="mb-3">Để hủy thủ tục vui lòng điền lí do</div>
            <textarea 
                rows="5" 
                class="w-full"
                pInputTextarea 
                [(ngModel)] = "description_document">
            </textarea>
        </div>
        <div class="flex justify-content-end gap-2 mt-3">
            <p-button label="Huỷ" severity="secondary" (click)="visible_dialog_cancled = false" ></p-button>
            <p-button label="Xác nhận" (click)="handleAccepted_dialog_cancled()" ></p-button>
        </div>
    </p-dialog>
</div>
