<div id="service-page-admin" class="box-container w-full pl-2 pr-2">
    <div class="title flex justify-between font-medium items-center ">
        <div class="title-left flex text-xl">
            <div class="icon">
                <i class="pi pi-fw pi-cog" style="font-size: 1em; font-weight: 500;" ></i>
            </div>
            <div class="text-value ml-1">
                Dịch vụ
            </div>
        </div>

        <div class="title-right">
            <a routerLink="/manager/admin/create-service" class="no-underline hover:no-underline button-add text-white bg-black pt-2 pb-2 pl-2 pr-2 rounded-md cursor-pointer">
                <i class="pi pi-plus"></i>
                <span>
                    Thêm mới
                </span>
            </a>
        </div>
    </div>
    <div class="router w-full text-sm mb-2 mt-2">
        <div class="flex items-center">
            <span class="route-item">Trang chủ</span>
            <span class="dots ml-2 mr-2"></span>
            <span class="route-item ">Dịch vụ</span>
        </div>
    </div>

    <div class="content w-full mt-2">
        <div class="box-content bg-white rounded-md mt-4 pt-4 pb-4 pl-3 pr-3 w-full">
            <div class="content-top w-full sm:flex">
                <div class="filter mb-2 w-full sm:w-4/12 md:w-2/12">
                    <div class="card flex justify-content-center">
                        <p-multiSelect  [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" defaultLabel="Chọn"></p-multiSelect>
                    </div>
                </div>

                <div class="search mb-2 w-full sm:w-8/12 md:w-10/12">
                    <div class="content-search md:pl-2 w-full flex items-center">
                        <div class="p-input-icon-left w-11/12">
                            <i class="pi pi-search"></i>
                            <input class="w-full" type="text" pInputText [(ngModel)]="value" />
                        </div>
                        <div class="option w-1/12 flex justify-center items-center text-gray-400 cursor-pointer text-xl">
                            <i (click)="menu.toggle($event)" class="fa-solid fa-ellipsis-vertical"></i>
                            <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
                            <!-- <p-toast></p-toast> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="content-table w-full">
                <!-- <div class="card"> -->
                    <p-table 
                    [value]="services" 
                    [tableStyle]="{ 'min-width': '60rem' }" 
                    [scrollable]="true"  
                    [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th class="blur-word" style="width: 3em !important;">#</th> Thêm style cho cột thứ tự ở đây -->
                                <th  class="blur-word" style="max-width:30px">STT</th>
                                <th class="common-word">Tên dịch vụ hỗ trợ</th>
                                <th class="blur-word" style="max-width: 150px;">Hình thứ hỗ trợ</th>
                                <th class="blur-word" style="max-width: 150px;">Đơn vị thực hiện</th>
                                <th class="blur-word" style="max-width: 150px;">Thời gian xử lý</th>
                                <th class="blur-word" style="max-width:150px"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-service let-i="rowIndex">
                            <tr>
                                <!-- <td style="width: 3em !important;">{{ i + 1 }}</td> -->
                                <td style="max-width:30px">{{ i+1 }}</td>
                                <td>
                                    <div class="flex items-center w-full">
                                        
                                        
                                            <div class="name common-word font-medium">
                                                {{ service.name }}
                                            </div>
                                        
                                    </div>
                                </td>
                                <td style="max-width: 150px;">{{ service.type }}</td>
                                <td style="max-width: 150px;">{{ service.department.name }}</td>
                                <td style="max-width: 150px;">{{ service.time_handle }}</td>
                                <td style="max-width:150px">
                                    <div class="service-action flex items-center">
                                        <div class="btn-action ml-2 mr-2 btn-view">
                                            
                                            <i class=" fa-solid fa-eye"></i>
                                        </div>
                                        <div class="btn-action ml-2 mr-2 btn-more">
                                            <i (click)="onClickItemService(123)" (click)="menu2.toggle($event)" class="fa-solid fa-ellipsis-vertical"></i>
                                            
                                        </div>


                                        <!-- <div class="btn-action ml-2 mr-2 btn-edit">
                                            <i class=" fa-solid fa-pen-to-square"></i>
                                        </div>
                                        <div class="btn-action ml-2 mr-2 btn-delete">
                                            <i class=" fa-solid fa-trash"></i>
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="flex justify-content-center paginator">
                        <p-paginator (onPageChange)="onPageChange($event)" [first]="firstItems" [rows]="rowsItems" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                    </div>
                <!-- </div> -->
                
                
            </div>
        </div>
    </div>

    <p-menu 
    #menu2 
    [model]="menuActionService" 
    [popup]="true"
    ></p-menu>

    <!-- <p-toast></p-toast> -->
    <p-confirmDialog></p-confirmDialog>

    
</div>