<div class="ovic-student-layout osl" [class.ovic-is-loading]="isLoading" [class.--mobile-menu-open]="mobileMenuOpen" [ngClass]="menuCollapse ? '--layout-menu-collapse' : '--layout-menu-full'">
    <!--section header-->
    <div class="ovic-student-layout__header">
        <div class="ovic-student-layout__header__left">
            <h2 class="ovic-student-layout__app-name">
                <img style="width: 35px; height: 35px;" src="/assets/images/logo_tuba_2.png" alt="">
                <!-- <img src="./logo-tueba.png" alt=""> -->
                1 CỬA TUEBA
            </h2>
            <div class="ovic-student-layout__header__icon">
                <button class="btn ovic-student-layout__header-btn-collapse-menu" type="button" (click)="toggleMenu()">
                    <i class="fi-rr-menu-burger"></i>
                </button>
            </div>
        </div>
        <div class="ovic-student-layout__header__right">
            <div class="ovic-student-layout__right-header-label">
                <i [class]="menuActive ? menuActive.icon : 'fi-rr-bug'"></i>
                <h2>{{menuActive ? menuActive.label : 'error'}}</h2>
            </div>
            <ul class="ovic-student-layout__right-header-menu">
                <!--<li class="ovic-student-layout__right-header-menu-item position-relative ovic-student-layout__user-info &#45;&#45;lang-dropdown" (mouseenter)="langDropdownState='open'" (mouseleave)="langDropdownState='close'">
                    <span class="btn lbl-lang-activated &#45;&#45;lang-{{activeLang.name}}">{{ activeLang.label }}</span>
                    <div class="ovic-student-layout__header-dropdown &#45;&#45;lang-dropdown" [@dropdown]="langDropdownState">
                        &lt;!&ndash;<div class="ovic-student-layout__header-dropdown" style="top: 100%; opacity: 1; visibility: visible;">&ndash;&gt;
                        <ul class="ovic-student-layout__header-dropdown__list">
                            <li *ngFor="let lang of languages">
                                <button class="btn btn-set-language &#45;&#45;lang-{{lang.name}}" [class.&#45;&#45;lang-active]="activeLang.name === lang.name" (click)="changeLang(lang)">{{lang.label}}</button>
                            </li>
                        </ul>
                    </div>
                </li>-->
                <li class="ovic-student-layout__right-header-menu-item">
                    <admin-menu-language></admin-menu-language>
                </li>
                <li class="ovic-student-layout__right-header-menu-item">
                    <sticky-notifications [contentDropDown]="false"></sticky-notifications>
                </li>
                <li class="ovic-student-layout__right-header-menu-item">
                    <admin-user-info></admin-user-info>
                </li>
               
                <!--<li class="ovic-student-layout__right-header-menu-item position-relative ovic-student-layout__user-info" (mouseenter)="menuDropdownState='open'" (mouseleave)="menuDropdownState='close'">
                    <span class="btn ovic-student-layout__button-right-header"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <div class="ovic-student-layout__header-dropdown" [@dropdown]="menuDropdownState">
                        <ul class="ovic-student-layout__header-dropdown__list">
                            <li>
                                <div class="item-dropdown__account-info">
                                    <img class="item-dropdown__account-info__img" [src]="avatar | ovicSafeUrl" alt="">
                                    <div class="item-dropdown__account-info__text">
                                        <b>{{displayName}}</b>
                                        <span>{{userEmail}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" (click)="routeLink($event,'admin/he-thong/thong-tin-tai-khoan')">
                                    <i class="fa fa-cog" aria-hidden="true"></i>{{userMenu.userInfo}}
                                </a>
                            </li>
                            <li>
                                <a href="#" (click)="routeLink($event,'admin/he-thong/quan-ly-tai-khoan')">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>{{userMenu.userManagement}}
                                </a>
                            </li>
                            <li>
                                <a href="#" (click)="confirmLogout($event)">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>{{userMenu.logout}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>-->
                <li class="ovic-student-layout__right-header-menu-item btn--for-mobile">
                    <button class="btn ovic-student-layout__button-right-header" type="button" (click)="toggleMenuForMobile(null)" style="line-height: 0;">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!--section left menu-->
    <div class="ovic-student-layout__vertical-nav ovic-left-menu">
       
        <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 60px)'}" styleClass="ovic-scroll-panel--default">
            <p-panelMenu [model]="verticalMenu" [className]="'ovic-student-layout__vertical-nav__menu'"></p-panelMenu>
        </p-scrollPanel>

        
    </div>

    <!--section right content-->
    <div class="ovic-student-layout__wrapper">
        <router-outlet></router-outlet>
    </div>

    <!--menu mobile overlay-->
    <a href="#" class="mobile-menu-overlay" (click)="toggleMenuForMobile($event)"></a>
</div>

<div class="ovic-side-navigation__right" [style.--side-navigation-init-right]="initRight" [style.--side-navigation-size]="menuSize" [@navigationMenuEffect]="navigationMenuState">
    <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-container *ngIf="navigationMenuState === 'open'">
    <button class="btn ovic-side-navigation__overlay" (click)="closePanel()"></button>
    <div class="--style--options" [innerHTML]="bodyNoScroll | ovicSafeHtml"></div>
</ng-container>
