<div id='post-page' class='w-full'>
    <div class="container-home w-full ">
        <div class="w-full">
                <div class="box-content">
                    <div class="container-post">
                        <div class="create-post w-full">
                            <app-create-post></app-create-post>
                        </div>
                        <div class="posts">
                            <app-content-post></app-content-post>
                            
                        </div>
                    </div>
                </div>
            
            <div class="nav-post">
                <div class="bg-white rounded-sm p-3">
                    <app-nav-post></app-nav-post>
                </div>
            </div>

            
        </div>
    </div>
    
</div>

