
<div id="question">
    <div class="title font-medium">
        <div class="title-left flex text-xl">
            <div class="icon">
                <i class="pi pi-fw pi-question" style="font-size: 1em; font-weight: 500;" ></i>
            </div>
            <div class="text-value ml-1">
                Câu hỏi
            </div>
        </div>
     
       
        
    </div>
    <div class="router w-full text-sm mb-2 mt-2">
        <div class="flex items-center">
            <span class="route-item">Trang chủ</span>
            <span class="dots ml-2 mr-2"></span>
            <span class="route-item">Câu hỏi</span>
        </div>
    </div>

    <div class="container-content bg-white pt-3 pb-4 pl-3 pr-3 w-full">
        <div class="filter-top">
            <div class="content-top w-full sm:flex">
                <div class="filter mb-2 w-full sm:w-4/12 md:w-2/12">
                    <div class="card flex justify-content-center">
                        <p-dropdown 
                            [options]="typeQuestion" 
                            [(ngModel)]="selectedTypeQuestion"
                            optionLabel="name" 
                            [showClear]="true"
                            placeholder="Loại câu hỏi" ></p-dropdown>
                    </div>
                </div>

                <div class="search mb-2 w-full sm:w-8/12 md:w-10/12">
                    <div class="content-search md:pl-2 w-full flex items-center">
                        <div class="p-input-icon-left w-full">
                            <i class="pi pi-search"></i>
                            <input class="w-full" type="text" placeholder="Bạn tìm gì..." pInputText [(ngModel)]="inputValue" />
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

        <div class="content-list-question mt-3">

            <div class="message-item p-2">
                <div class="flex items-center cursor-pointer">
                    <div class="row-index" style="min-width: 30px;">
                        1
                    </div>
                    <div class="w-full flex items-center">
                        <div class="user-infor-left w-2/12">
                            <div class="flex">
                                <div class="avatar-common">
                                    <img src="http://localhost:3000/uploads/common/1.jpg" alt="">
                                </div>
                                <div class="user-short-info ml-3">
                                    <div class="name common-word font-medium"> Ma Seo Tráng </div>
                                    <div class="department-name text-sm blur-md-word"> Tự động hóa </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="message w-9/12">
                            <div class="font-medium">
                                Web/App Developer (Java, Javascript, PHP) and 2 more jobs for you
                            </div>
                        </div>

                        <div class="w-1/12">
                            <span>
                                <i class="fa-regular fa-clock"></i>
                            </span>
                            <span>
                                18/5/2024
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="message-item p-2">
                <div class="flex items-center cursor-pointer">
                    <div class="row-index" style="min-width: 30px;">
                        2
                    </div>
                    <div class="w-full flex items-center">
                        <div class="user-infor-left w-2/12">
                            <div class="flex">
                                <div class="avatar-common">
                                    <img src="http://localhost:3000/uploads/common/1.jpg" alt="">
                                </div>
                                <div class="user-short-info ml-3">
                                    <div class="name common-word font-medium"> Ma Seo Tráng </div>
                                    <div class="department-name text-sm blur-md-word"> Tự động hóa </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="message w-9/12">
                            <div class="content-message">
                                CDNetworks Unveils 10 Tbps Capacity Upgrade for Enhanced South & Southeast Asia Network Performance CDNetworks Unveils 10 Tbps Capacity Upgrade for Enhanced South & Southeast Asia Network Performance CDNetworks Unveils 10 Tbps Capacity Upgrade for Enhanced South & Southeast Asia Network Performance CDNetworks Unveils 10 Tbps Capacity Upgrade for Enhanced South & Southeast Asia Network Performance
                            </div>
                        </div>

                        <div class="w-1/12">
                            <span>
                                <i class="fa-regular fa-clock"></i>
                            </span>
                            <span>
                                18/5/2024
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>