#question .content-message{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#question .message-item{
    border-top: 1px solid #ccc;
}
#question .message-item:hover{
    /* box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15); */
    background-color: rgb(247 248 250);
}

#question .item-conversation{
    color: var(--text-color);
}

#question .item-conversation:hover{
    text-decoration: none;
}